h1{
  color:blue;
  text-align: center;
  color: #0000ff;
}

h3 {
  color: green;
  font-style: normal;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
  font-size: 20px
}
html{
  background-color:#483D8B;
}
strong{
  font-style: italic;
}
em{
  font-size: 24px bold;
   font-style: inherit 
  }
